black==23.7.0
fastapi==0.96.0
isort==5.12.0
joblib==1.1.0
lightgbm==3.3.4
loguru==0.7.0
pandas==1.4.4
pre-commit==3.4.0
pytest==7.1.2
requests==2.31.0
scikit-learn==1.0.2
uvicorn[standard]==0.22.0
yamllint==1.32.0
